* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.firstbox {
    display: flex;
    margin: 0;
    background-image:
    linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%), url(image-back.jpg);
    background-size: 1794px 1078px;
    background-repeat: no-repeat;
    margin-top: -20px;
    margin-left: -8px
}



.fbcontent {
    margin-left: auto;
    margin-right: auto;
}

.head {
    display: flex;
    flex-direction: row;
    width: 1080px;
    margin-top: 20px;
    background-color: transparent;
    justify-content: space-between;
    margin-left: 120px;
}

.articles {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-top: 60px;
}

.logo-1 {
    width: 80px;
    height: 130px;
}

.link {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: aliceblue;
    margin-left: 190px;
    margin-top: 100px;
    width: 600px;
}

.jump-text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: aliceblue;
    margin-left: 190px;
    margin-top: 40px;
    width: 600px;
}

.firstoval {
    width: 45px;
    height: 45px;
    padding-top: 25px;
    padding-right: 8px
}


.text-oval {
    display: flex;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-left: 180px;
    padding-top: 30px;
    color: aliceblue;
}

.ot {
    padding-top: 24px;
    margin-right: 27px
}

.underline {
    margin-right: 70px;
}

.search {
    border: 1px solid #1B7DFF;
    background-color: #1B7DFF;
    color: #ffffff;
    margin-left: 45px;
    width: 118px;
    height: 44px;
    font-size: 17px;
    margin-top: 43px;
}

.buttonsearch {
    margin-left: -100px
}

.benefitsofOdigo {
    width: 1260px;
    height: 670px;
}

.benefits {
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    margin-left: 140px;
    margin-top: 100px;
}

.underblock {
    width: 1262px;
    height: 670px;
    margin-top: 180px;
    margin-left: 40px;
    border: 2px solid white;
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0px #363636
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
}

.home {
    width: 66px;
    height: 66px;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.learn-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.view-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.learn-more {
    font-weight: 400;
    color: #1B7DFF;
    text-decoration: none;
}

.view-all {
    font-weight: 400;
    color: #1B7DFF;
    text-decoration: none;
    font-size: 13px;
}

.arrow {
    width: 33px;
    height: 8px;
}

.person {
    width: 66px;
    height: 66px;
}

.personal {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
}

.promoting {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
}

.promote {
    width: 66px;
    height: 66px;
}

.secondbox {
    width: 1062px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 150px;
    padding-top: 120px;
    gap: 40px;
}

.get {
    display: flex;
    flex-direction: row;
    gap: 790px;
}

.inspire {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;
}

.thirdbox {
    width: 1260px;
    height: 670px;
    margin-top: 136px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(255, 255, 255);
    background-color: #ffffff;
}

.conteiner-1 {
    display: flex;
    gap: 10px;
    margin-right: 22px;
    position: relative;
}

.conteiner-2 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    position: relative;
}

.fuji {
    width: 619px;
    height: 354px;

}

.over-fuji {
    width: 616px;
    height: 361px;
    position: absolute;
}

.over-kyoto {
    width: 619px;
    height: 361px;
    position: absolute;
    left: 619px;
}

.over-tokyo {
    width: 415px;
    height: 287px;
    position: absolute;
    left: -2px;
}

.over-niigata {
    width: 419px;
    height: 287px;
    position: absolute;
    left: 417px;
}

.over-sapporo {
    width: 400px;
    height: 287px;
    position: absolute;
    left: 839px;
}


.kyoto {
    width: 619px;
    height: 354px;
}

.tokyo {
    width: 415px;
    height: 283px;
}

.niigata {
    width: 415px;
    height: 283px;
}

.sapporo {
    width: 415px;
    height: 283px;
    padding-right: 22px;
}

.fourbox {
    display: flex;
    flex-direction: column;
    width: 1262px;
    height: 670px;
    margin-top: 170px;
    gap: 77px;
    margin-left: auto;
    margin-right: auto;
}

.focus {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
}

.tottori {
    width: 500px;
    height: 300px;
}

.prefecture {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 40px;
    padding-left: 238px;
}

.pref {
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
}

.prefecture-txt {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.view-pref {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.viewpref {
    font-weight: 400;
    color: #1B7DFF;
    text-decoration: none;
    font-size: 13px;
}

.featured {
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    gap: 48px;
}

.arashiyama {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 30px;

    padding-right: 100px;
}

.red {
    width: 500px;
    height: 300px;
    margin-left: 70px;
}

.arash-txt {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 500px;
}

.fivebox {
    width: 1260px;
    height: 670px;
    margin-top: 136px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.conteiner-3 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.conteiner-4 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 72px;
}

.nagoya {
    width: 386px;
    height: 377px;
}

.niigata {
    width: 386px;
    height: 377px;
}

.niigata-1 {
    width: 415px;
    height: 283px;
}

.osaka {
    width: 386px;
    height: 377px;
}

.saitama {
    width: 386px;
    height: 377px;
}

.ueno {
    width: 386px;
    height: 377px;
}

.shibuya {
    width: 386px;
    height: 377px;
}

.get-txt {
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 42px;
}

.over-txt-1 {
    position: absolute;
    font-size: 700;
    font-weight: bold;
    top: 177px;
    left: -157px;
}

.over-txt-2 {
    position: absolute;
    font-size: 700;
    font-weight: bold;
    left: 463px;
    top: 180px;
}

.over-txt-3 {
    position: absolute;
    font-size: 700;
    font-weight: bold;
    left: -157px;
    top: 107px;

}

.over-txt-4 {
    position: absolute;
    font-size: 700;
    font-weight: bold;
    top: 107px;
    left: 266px;

}

.over-txt-5 {
    position: absolute;
    font-size: 700;
    font-weight: bold;
    top: 107px;
    left: 685px;

}

.likes {
    position: absolute;
    height: 18px;
    width: 18px;
    margin-top: 17px;
}



.comments {
    position: absolute;
    height: 18px;
    width: 18px;
    margin-top: 17px;
}



.amount {
    position: absolute;
    font-size: 16px;
    color: #ffffff;
}



.amount-comm {
    position: absolute;
    font-size: 16px;
    color: #ffffff;
}



.see-more {
    border: 1px solid #1B7DFF;
    background-color: #1B7DFF;
    color: #ffffff;
    width: 118px;
    height: 42px;
    font-size: 16px;
}

.txt-1 {
    color: #102746;
    font-weight: 400;
}

.cont-3-txt {
    display: flex;
    flex-direction: row;
    gap: 56px;
    margin-top: 51px;
    line-height: 24px;
}

.cont-3-1 {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.cont-3-2 {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.cont-3-3 {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.back-video {
    display: flex;
    width: 1798px;
    height: 742px;
    background-image: url(./Image-video.jpg);
    background-size: cover;
    margin-left: -271px;
    background-repeat: no-repeat;
    margin-top: 144px;
}

.play-button {
    position: relative;
    height: 112px;
    width: 112px;
    left: 868px;
    top: 306px;
}

.logo-2 {
    width: 170px;
    height: 64px;
}

footer {
    display: flex;
    width: 1798px;
    height: 400px;
    background-color: #0E1D28;
    margin-left: -271px;
    padding-top: 119px;
    padding-left: 194px;
}

.footer-txt {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    color: #ffffff;
    padding-left: 481px;
    gap: 209px;
    margin-top: 20px;
}

.f-txt-1 {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    gap: 8px;
}

.f-txt-2 {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    gap: 8px;
}

.f-txt-3 {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    gap: 8px;
}

.likeANDcomm-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -1003px;
    top: 322px;
    gap: 36px;
}
.likeANDcomm-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -721px;
    top: 322px;
    gap: 36px;
}
.likeANDcomm-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -446px;
    top: 322px;
    gap: 36px;
}
.likeANDcomm-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -1003px;
    top: 323px;
    gap: 36px;
}
.likeANDcomm-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -720px;
    top: 323px;
    gap: 36px;
}
.likeANDcomm-6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -442px;
    top: 323px;
    gap: 36px;
}